  <header>
    <img src="images/charterHeader.png" class="homeHeader">
  </header>


  <div class="chartForm">
    <div class="container">
      <h4 class="blue">Book A Private Charter</h4>
      <form method="POST" action="api/charter">
        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <label for="inputFirstName">First Name</label>
              <input id="firstName" class="form-control" placeholder="First Name" type="text" name="firstName">
            </div>
            <div class="col">
              <label for="inputLastName">Last Name</label>
              <input id="lastName" class="form-control" placeholder="Last Name" type="text" name="lastName">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <label for="inputPhone">Phone Number</label>
              <input id="phone" class="form-control" placeholder="Phone Number" type="text" name="phone">
            </div>
            <div class="col">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" placeholder="Email" type="text" name="email">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <label for="inputLocation">Trip Location</label>
              <input id="location" class="form-control" placeholder="Trip Location" type="text" name="location">
            </div>
            <div class="col">
              <label for="inputDate">Requested Trip Date</label>
              <input id="date" class="form-control" placeholder="Trip Date" type="text" name="date">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <label for="inputAdults">Number Of Adults</label>
              <input id="adults" class="form-control" placeholder="Adults" type="text" name="adults">
            </div>
            <div class="col">
              <label for="inputChildren">Number Of Children</label>
              <input id="children" class="form-control" placeholder="Children (Under 12)" type="text" name="children">
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <br>

  <div class="charter">
    <div class="container">
      <h3 class="about">CHARTERS</h3>
      <div class="row">
        <div class="col-sm text-center">
          <img src="images/titusville.png" class="map">
          <div class="card-body">
            <h5 class="card-title">Titusville</h5>
            <p class="white">Vit, omnis con eum nonsecabori tem eaquunda voluptatio et aut vel inullaces di beaquidus ea
              prorro eum venihit reste </p>
          </div>
        </div>
        <div class="col-sm text-center">
          <img src="images/nsb.png" class="map">
          <div class="card-body">
            <h5 class="card-title">New Smynra Beach</h5>
            <p class="white">Vit, omnis con eum nonsecabori tem eaquunda voluptatio et aut vel inullaces di beaquidus ea
              prorro eum venihit reste </p>
          </div>

        </div>
        <div class="col-sm text-center">
          <img src="images/sebastian.png" class="map">
          <div class="card-body">
            <h5 class="card-title">Sebastian</h5>
            <p class="white">Vit, omnis con eum nonsecabori tem eaquunda voluptatio et aut vel inullaces di beaquidus ea
              prorro eum venihit reste </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col"><a href="https://www.instagram.com/red2__1492/" target="_blank"><img class="instaPhoto" src="images/mattInsta1.png"></a></div>
      <div class="col"><a href="https://www.instagram.com/chelsealaura419/" target="_blank"><img class="instaPhoto" src="images/chelInsta1.png"></a></div>
      <div class="col"><a href="https://www.instagram.com/graham_sweens/" target="_blank"><img class="instaPhoto" src="images/grahamInsta1.png"></a></div>
      <div class="col"><a href="https://www.instagram.com/jimmypetrick/" target="_blank"><img class="instaPhoto" src="images/jimmyInsta1.png"></a></div>
    </div>
    <br>
    <div class="row">
      <div class="col"><a href="https://www.instagram.com/graham_sweens/" target="_blank"><img class="instaPhoto" src="images/grahamInsta2.png"></a></div>
      <div class="col"><a href="https://www.instagram.com/jimmypetrick/" target="_blank"><img class="instaPhoto" src="images/jimmyInsta2.png"></a></div>
      <div class="col"><a href="https://www.instagram.com/red2__1492/" target="_blank"><img class="instaPhoto" src="images/mattInsta2.png"></a></div>
      <div class="col"><a href="https://www.instagram.com/chelsealaura419/" target="_blank"><img class="instaPhoto" src="images/chelInsta2.png"></a></div>
    </div>
    <br>
  </div>



  </div>