  <header>
    <img src="images/charterHeader.png" class="homeHeader">
  </header>

    <div class="container">
        <br>
      <h4 class="blue">CONFIRMATION</h4>
        <h2 class="confirm">(NUMBER HERE)</h2>
        <h6>Thank you for booking a private charter with Reel Drag Fishing Co. One of our crew will contact you shortly. Private charter prices are based on duration, location and number of people fishing. All charters are personalized to fit the customers requests and goals during the trip.</h6>
        <h6>We can not control the weather. Trips will be rescheduled if weather is to serve to launch.</h6>
    </div>