<header>
        <img src="images/buddyHeader.png" class="homeHeader">
    </header>
    <div class="chartForm">
        <div class="container">
            <h4 class="blue">Post A Fishing Trip</h4>
            <form>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <label for="inputLocation">Trip Location</label>
                            <input type="text" class="form-control" placeholder="Trip Location">
                        </div>
                        <div class="col">
                            <label for="inputDate">Requested Trip Date</label>
                            <input type="text" class="form-control" placeholder="Trip Date">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="inputDescript">Description</label>
                            <input type="text" class="form-control" placeholder="Description">
                        </div>
                        <div class="col">
                            <label for="inputBoat">Boat</label>
                            <input type="text" class="form-control" placeholder="Boat">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="inputPeople">Number Of People</label>
                            <input type="text" class="form-control" placeholder="Adults">
                        </div>
                        <div class="col">
                            <label for="inputCost">Cost</label>
                            <input type="text" class="form-control" placeholder="Cost">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="inputImage">Image</label>
                        <input type="text" class="form-control" placeholder="Image URL">
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="intro">
        <div class="container">
            <p class="homeCopy">At Reel Drag Fishing co. we believe that time on the water is important. The more time
                you spend out on the water the most fishing you catch and the more spots you find for a successful
                fishing trip. Below is list of people looking to get out on the water!</p>
        </div>
    </div>

    <div class="container">
        <h4 class="blue">Find A Fishing Trip</h4>


    </div>