<header>
    <img src="images/homeHeader.png" class="homeHeader">
  </header>


  <div class="intro">
    <div class="container">
      <h3 class="about">ABOUT US</h3>
      <p class="homeCopy">Located on Florida’s east coast in New Smyrna Beach – Reel Drag Fishing Co. is owned and
        operated by husband and wife team, Matthew and Chelsea Wallenquest. Together, with their dedicated, seasoned
        crew and shallow water skiffs, Matthew and Chelsea have created some of the very best back water fishing
        charters in Florida.</p>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col"><img src="images/mattInsta1.png"></div>
      <div class="col"><img src="images/chelInsta1.png"></div>
      <div class="col"><img src="images/grahamInsta1.png"></div>
      <div class="col"><img src="images/jimmyInsta1.png"></div>
    </div>
    <br>
    <div class="row">
      <div class="col"><img src="images/grahamInsta2.png"></div>
      <div class="col"><img src="images/jimmyInsta2.png"></div>
      <div class="col"><img src="images/mattInsta2.png"></div>
      <div class="col"><img src="images/chelInsta2.png"></div>
    </div>
    <br>
  </div>
  <div class="crew">
    <div class="container">
      <h3 class="theCrew">THE CREW</h3>
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="images/mattPro.png" class="card-img" alt="...">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">MATTHEW WALLENQUEST</h5>
              <p class="card-text">Vit, omnis con eum nonsecabori tem eaquunda voluptatio et aut vel inullaces di
                beaquidus ea prorro eum venihit reste nat.
                Itatibus nullaut facia verumquatur acculla dit ut ipsum re, qui illam, nobis anditae simi, sollupt
                aquidit
                quiatur </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="images/chelPro.png" class="card-img" alt="...">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">CHELSEA WALLENQUEST</h5>
              <p class="card-text">Vit, omnis con eum nonsecabori tem eaquunda voluptatio et aut vel inullaces di
                beaquidus ea prorro eum venihit reste nat.
                Itatibus nullaut facia verumquatur acculla dit ut ipsum re, qui illam, nobis anditae simi, sollupt
                aquidit
                quiatur </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="images/grahamPro.png" class="card-img" alt="...">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">GRAHAM SWEENEY</h5>
              <p class="card-text">Vit, omnis con eum nonsecabori tem eaquunda voluptatio et aut vel inullaces di
                beaquidus ea prorro eum venihit reste nat.
                Itatibus nullaut facia verumquatur acculla dit ut ipsum re, qui illam, nobis anditae simi, sollupt
                aquidit
                quiatur </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="images/jimmyPro.png" class="card-img" alt="...">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">JIMMY PETRICK</h5>
              <p class="card-text">Vit, omnis con eum nonsecabori tem eaquunda voluptatio et aut vel inullaces di
                beaquidus ea prorro eum venihit reste nat.
                Itatibus nullaut facia verumquatur acculla dit ut ipsum re, qui illam, nobis anditae simi, sollupt
                aquidit
                quiatur </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div>
    <img src="images/fishingBuddy.png">
  </div>


  <div class="charter">
    <div class="container">
      <h3 class="about">CHARTERS</h3>
      <div class="row">
        <div class="col-sm text-center">
          <img src="images/titusville.png" class="map">
          <div class="card-body">
            <h5 class="card-title">Titusville</h5>
            <a href="charters.html" class="btn btn-outline-light">Book</a>
          </div>
        </div>
        <div class="col-sm text-center">
          <img src="images/nsb.png" class="map">
          <div class="card-body">
            <h5 class="card-title">New Smynra Beach</h5>
            <a href="charters.html" class="btn btn-outline-light">Book</a>
          </div>

        </div>
        <div class="col-sm text-center">
          <img src="images/sebastian.png" class="map">
          <div class="card-body">
            <h5 class="card-title">Sebastian</h5>
            <a href="charters.html" class="btn btn-outline-light">Book</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>